body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*countdown timer stylings*/
/* const timer  {
  display: 'flex',
  justifyContent: 'space-around';
}

const time  {
  color: 'white',
  fontSize: '74px',
} 

const label  {
  fontSize: '22px',
  display: 'flex',
  justifyContent: 'center',
  backgroundColor: 'white',
  minWidth: 'inherit',
  color: '#000',
  fontWeight: '100',
}

const section  {
  display: 'flex',
  flexDirection: 'column',
  alignItems: 'center',
  minWidth: '100px',
  minHeight: '100px',
  backgroundColor: 'black',
  borderRadius: '7px',
} */
